<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="DMEclipseSaveHookPluginBuilder"
         name="DMEclipseSaveHookPlugin Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="bz.davide.dmeclipsesavehookplugin.builder.DMEclipseSaveHookPluginBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="DMEclipseSaveHookPluginNature"
         name="DMEclipseSaveHookPlugin Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="bz.davide.dmeclipsesavehookplugin.builder.DMEclipseSaveHookPluginNature">
         </run>
      </runtime>
      <builder
            id="DMEclipseSaveHookPlugin.DMEclipseSaveHookPluginBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="DMEclipseSaveHookPlugin.contribution1">
         <action
               label="Add/Remove DMEclipseSaveHookPlugin Nature"
               class="bz.davide.dmeclipsesavehookplugin.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="DMEclipseSaveHookPlugin.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   <!--
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   -->
</plugin>
